body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://caelum-online-public.s3.amazonaws.com/imersao-dev-3/bg.png');
    background-color: #000000;
    background-size: 60vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 10px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
  }